.details-page {
  display: flex;
  flex-direction: column;
  gap: 42px;

  & .row {
    display: grid;
    grid-template-columns: 1.45fr 1fr;
    gap: 18px;

    @media (max-width: 1220px) {
      display: flex;
      flex-direction: column;
    }
  }
}