@import "src/assets/styles/vars";

.filters {
  display: flex;
  align-items: center;
  gap: 8px;

  & .filter-item {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 32px;
    border: 1px solid $primary-light;
    border-radius: 24px;
    padding: 0 14px;
    background-color: $black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    & .title-3 {
      color: $grey-lighter;
    }

    &.active {
      background-color: $accent;
      border-color: $accent;

      & .title-3 {
        color: $white;
      }
    }

    &:not(.active):hover {
      border-color: $accent;
    }
  }
}