.container {
  display: flex;
  flex-direction: column;
  gap: 28px;

  & .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr) min-content;
    gap: 18px;

    @media (max-width: 1440px) {
      overflow-x: scroll;
    }

    & app-performance-card {
      max-width: 471px;
    }
  }
}