<div class="card">
  <div class="card-title-box">
    <div class="title">
      <h2 class="title-2">{{ card.title }}</h2>
      @if (card.isWinnability) {
        <app-winnability-dots [winnability]="card.value"/>
      }
    </div>
    <div class="display">
      <h1 class="h-1">
        {{ card.display }}
        @if (card.target) {
          <span class="title-2">{{ card.target }}</span>
        }
      </h1>
      @if (card.subtarget) {
        <p class="title-2">{{ card.subtarget }}</p>
      }
    </div>
  </div>
  <button appButton color="link" size="small">{{ card.action }} →</button>
</div>
