@import "src/assets/styles/vars";

.page-container {
  height: 100vh;
  width: 100%;
  background-color: $ternary;

  & .page {
    display: flex;
    flex-direction: column;
    padding: 113px 137px 18px 137px;
    gap: 20px;
  }
}