@if (progress) {
  <div class="container">
    <div class="amount" [ngStyle]="{ 'grid-template-columns': '1fr ' + titleWidth + 'px' }">
      <div class="progress" [ngStyle]="{ height: progress.name ? height + 'px' : '38px'}">
        <div class="back-progress" [ngStyle]="{ height: height + 'px'}"></div>
        <div class="top-progress">
          <div
            class="prog"
            [ngStyle]="{ width: progressWidth + 'px', height: height + 'px'}"
          >
            @if (!progress.name) {
              <p class="progress-value body-text-3">${{ progress.value }}M</p>
              <p class="progress-amount body-text-4">{{ progressAmount }}%</p>
            }
          </div>
        </div>
      </div>
      <p class="title-3">
        @if (progress.name) {
          {{ progress.name }} {{progress.value}}%
        } @else {
          ${{ progress.objective_value }}M
        }
      </p>
    </div>
  </div>
}
