@if (ratio) {
  <div class="container">
    <h1 class="title-3">Portfolio goals</h1>
    <div class="items">
      <div class="item">
        <p class="body-text-3 t-uppercase">Portfolio loss ratio target</p>
        <app-ratio-target [ratio]="ratio.ratio"/>
      </div>
      <div class="item">
        <p class="body-text-3 t-uppercase">Renewal Retention</p>
        <app-ratio-target [ratio]="ratio.ratio_retentional"/>
      </div>
      <div class="item">
        <p class="body-text-3 t-uppercase">New business target</p>
        <app-progress-ratio [progress]="ratio.business_target"/>
      </div>
      <div class="item">
        <p class="body-text-3 t-uppercase">Annual GWP target</p>
        <app-progress-ratio [progress]="ratio.gwp_target"/>
      </div>
    </div>
  </div>
}
