@import "vars";
@import "mixins";

.app-button {
  @include font-base(14px, 500, 16px);

  width: 100%;
  padding: 0 16px;
  border: 0;
  color: $beige;
  background-color: $accent;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $blue;
  }

  &.small {
    border-radius: 14px;
    height: 28px;
  }

  &.medium {
    border-radius: 20px;
    height: 40px;
  }

  &.link {
    padding: 4px 0;
    color: $accent;
    background: none;
    outline: 0;
    border: 0;
    width: min-content;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }
  }

  &.green {
    color: $black;
    background-color: $green;

    &:hover {
      background-color: $beige;
    }
  }
}
