@import "vars";
@import "mixins";

.table-container {
  width: 100%;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 392px;
  overflow-y: scroll;

  & .body-text-3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  & .table-row-header {
    height: 32px;
    background-color: $secondary;

    & .body-text-3 {
      color: $grey-light;
    }
  }

  .table-row {
    height: 60px;
    background-color: $primary;

    &.odd-row {
      background-color: $secondary;
    }

    & .table-item {
      display: flex;
      align-items: center;
      gap: 4px;

      &-column {
        flex-direction: column;

        & .light {
          color: $grey-light;
        }
      }
    }
  }

  & .mat-cell {
    height: 360px;
  }

  & tbody, tr {
    border: none;
  }

  & th, td {
    border: 0;
    border-color: inherit;
  }

  & td {
    border-bottom: 1px solid $secondary;
  }
}


