@import "src/assets/styles/vars";

.header {
  height: 95px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 0 137px;
  color: $beige;
  background-color: $ternary;
  border-bottom: 1px solid $primary-light;
  z-index: 99;

  &-actions {
    display: flex;
    gap: 11px;

    input {
      width: 479px;
    }
  }
}