@import "src/assets/styles/vars";
@import "src/assets/styles/mixins";

.header {
  height: 95px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 0 137px;
  color: $beige;
  background-color: $ternary;
  border-bottom: 1px solid $primary-light;
  z-index: 99;

  &-actions {
    display: flex;
    gap: 12px;

    input {
      width: 479px;
    }
  }

  @media (max-width: 1440px) {
    padding: 0 64px;

    &-actions {
      gap: 10px;

      input {
        width: 240px;
      }
    }
  }

  @media (max-width: 767px) {
    padding: 0 36px;

    & .title-1 {
      display: flex;
      flex-direction: column;

      & .tasks {
        @include font-base(16px, 300, 18px);
      }
    }

    &-actions input {
      width: 180px;
    }
  }
}