@import "src/assets/styles/vars";

.container {
  display: flex;
  flex-direction: column;
  gap: 42px;

  &-top {
    display: grid;
    grid-template-columns: 1fr 285px 285px;
    grid-template-rows: 285px 285px;
    gap: 18px;
    grid-template-areas: 
      "large middle small"
      "large middle second";

    & app-work-queue {
      grid-area: large;
    }

    & app-portfolio-goals {
      grid-area: middle;
    }

    & app-quick-actions {
      grid-area: small;
    }

    & app-marketing-intelligence {
      grid-area: second;
    }

    & .box-column {
      display: flex;
      flex-direction: column;
      gap: 18px;
    }

    & .box-half {
      display: flex;
    }

    & .table-box,
    & .portfolio-box {
      height: 550px;
      width: 100%;

      app-table {
        max-height: 360px;
      }
    }

    & .portfolio-box {
      & .body-text-4 {
        color: $grey-light;
      }
    }
  }
}